.Weather {
    border: 1px solid #dadde1;
    font-family: arial, sans-serif;
    padding: 16px;
    border-radius: 4px;
    color: rgb(135, 135, 135);
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather canvas {
    margin-top: 5px;
    display: inline-block;
}

.Weather .temperature {
    font-weight: bold;
    color: #daa520;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    margin-left: -15px;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    color:#daa520;;
    position: relative;
    top: -34px;
    line-height: 1;
    margin-left: 5px;
}

.Weather .btn-primary {
    background-color: #09203f;
    border-color: #09203f;
    color: #daa520;
    font-weight: bold;
}